---
import Layout from "../../layouts/Layout.astro";
import { getActiviteByID } from "../../../backend/backend.mjs";
import { formatDate } from "../../js/helper.js";
const { id } = Astro.params;

let  activites = await getActiviteByID(id);

const dateActivite = formatDate(activites.date_activite);

---

<Layout>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <a
      href="/activites"
      class="text-yellow-600 hover:underline mb-6 inline-block"
    >
      Retour à la liste d'activité
    </a>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="md:flex">
        

        <div class="md:w-2/3 p-6">
          <h1 class="text-3xl font-bold mb-4">{activites.nom}</h1>

          <div class="flex flex-wrap gap-2 mb-4">
            {
              (
                <span class="bg-orange-200 text-orange-800 text-bold px-3 py-1 rounded-full text-sm">
                  {activites.lieu}
                </span>
              )
            }
            {
              (
                <span class=" bg-blue-100 px-3 py-1 rounded-full text-sm">
                  {activites.description}
                </span>
              )
            }
            {
              (
                <span class=" py-1 rounded-full text-sm">
                  Type : {activites.type_activite} -
                </span>
              )
            }
            {
                (
                <span class=" py-1 rounded-full text-sm">
                 Durée : {activites.duree_heure} heure
                </span>
              )
            }
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <h3 class="font-semibold text-gray-700">Date de l'activité</h3>
              <p>{dateActivite}</p>
            </div>

          </div>

  </main>
</Layout>
